body{
    background-color: #bb0707ce;
    font-family: 'Lato', sans-serif;
    color: white;
    
}

.container {
    width: 100%;
    height: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}

.title {
    color: white;
    font: 80px bolder;
    text-align: center;
    padding: 50px auto 30px;
    font-weight: 900;
}
#results {
    color: white;
    font-size: x-large;
    border: 5px solid;
    border-color: white;
    text-align: center;
    /* padding: 30px; */
}

.gameBox {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.playerBox {
    background-color: rgba(75, 13, 13, 0.699);
    border: 5px solid;
    border-color: white;
    border-radius: 20px;
    margin: 50px 20px;
    width: 400px;
    height: 350px;
}

.playerTitle {
    display: flex;
    justify-content: center;
    border: 5px solid;
    margin: 30px 50px 30px;

}

.playerInfo {
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}

.gameSelections {
    display:flex;
    justify-content: space-around;
    align-content: flex-end;
    text-align: center;
    
}


.choiceImage {
   background-color: white;
   border: 1px thin;
   border-radius: 50px;
   padding: 10px 25px;
}

.choiceImageNull {
    background-color: white;
   border: 1px thin;
   border-radius: 50px;
   padding: 10px 25px;
}

    

.attributes{
    display:flex;
    justify-content: center;
    align-content: flex-end;
    font-size: x-small;
    

}